pyyaml
msgpack-python
Flask
Click
os_client_config
python-cinderclient
python-glanceclient
python-heatclient
python-keystoneclient
python-novaclient
python-neutronclient
pykube
boto3
tosca-parser
salt-pepper
python-terraform
graphviz
juju
git+https://github.com/maas/python-libmaas.git