
@font-face {
  font-family: 'FontAwesome';
  src: url('/static/fonts/fontawesome-webfont.woff') format('woff');
}

.main-loader {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.visual-layout {
  border: 1px black solid;
}

.link{
  fill: none;
  stroke: #ddd;
  stroke-width: 1.5px;
}

.axis {
  stroke: #666;
  stroke-width: 1.5px;
}

.axis text {
  font-family: "Open Sans";
}

.node {
  fill: #fff;

}

.node circle {
  stroke: #666;
  stroke-width: 1.5px;
}

.node text {
  stroke-width: 0;
}

.active {
  stroke: #f00!important;
}

.tooltip {
  position: absolute;
  padding: 5px 10px;
  font: 12px sans-serif;
  background: #fff;
  border: 1px solid #000;
  pointer-events: none;
}

/*.link:hover{
  stroke: red;
  stroke-opacity:.9;
}*/
